@import "./layout//layout.css";
.home {
  grid-area: content;
  display: grid;
  justify-content: center;
  row-gap: 32px;
}
/* Home News Header */
.home-news-header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: flex-end;
}
/* Section */
.home-horizontal-top {
  grid-area: horizontal-top;
}
.home-content-middle {
  grid-area: content-middle;
  display: grid;
  row-gap: 32px;
}
.home-side-middle {
  grid-area: side-middle;
  display: grid;
  row-gap: 32px;
}
.home-horizontal-bottom {
  grid-area: horizontal-bottom;
}
.home-content-bottom {
  grid-area: content-bottom;
  display: grid;
  row-gap: 32px;
}
.home-side-bottom {
  grid-area: side-bottom;
  display: grid;
  row-gap: 32px;
}

/* News List */
.home-news-list {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(2, max-content);
  grid-template-areas:
    "home-news-title home-news-image"
    "home-news-date home-news-image";
  column-gap: 8px;
  row-gap: 8px;
  align-items: center;
  justify-content: space-between;
}
.horizontal-home-news-list {
  display: grid;
  row-gap: 8px;
  grid-template-rows: repeat(3, max-content);
}
