.container {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 5.5fr;
  grid-template-areas:
    "navbar navbar"
    "sidebar content";
    justify-content: stretch;
    align-items: flex-start;
}
/* Navbar */
.container-navbar {
    display: grid;
    grid-area: navbar;
  }
/* Sidebar */
.container-sidebar {
  display: grid;
  grid-area: sidebar;
  min-height: 90vh;
}
/* Content */
.content {
  display: grid;
  grid-area: content;
  padding: 8px;
  grid-template-columns: 3fr 2fr;
  grid-template-areas:
    "title form"
    "content content"
    "totalData pagination";
  row-gap: 16px;
  align-items: center;
  justify-content: stretch;
  margin-top: 16px;
}
