.container-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  align-content: start;
  justify-content: start;
  background-color: white;
}
/*Sidebar Menu*/
.sidebar-menu {
  font-size: 16px;
  font-weight: 500;
  color: #5a5c69;
}
.sidebar-menu:hover {
  font-weight: 600;
  color: #5a5c69;
}
/* Management */
.sidebar-menu {
  border: none;
}
.sidebar ul {
  list-style: none;
  text-decoration: none;
  display: grid;
  row-gap: 2px;
  justify-content: stretch;
  padding: 8px;
  border-radius: 8px;
  background-color: #004de8;
}
.management-list {
  border: none;
  padding: 4px;
  font-size: 14px;
  font-weight: 200;
}
.management-list:hover{
  background-color: #0c49c4;
  border-radius: 4px;
}
.management-list a {
  color: white;
  display: block;
}
.management-list a:hover {
  text-decoration: none;
  color: white;
  font-weight: 400;
}
