.container-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  align-content: start;
  justify-content: start;
  background-color: white;
}
/* Dashboard */
.dashboard,
.management {
  font-size: 16px;
  font-weight: 600;
  color: #121212
}
/* Management */
.management {
  border: none;
}
 ul {
  list-style: none;
  text-decoration: none;
  display: grid;
  row-gap: 2px;
  justify-content: start;
  padding: 4px;
  border-radius: 4px;
}
li {
  padding: 3px;
  font-size: 14px;
  font-weight: 200;
}
li a {
  color: #121212;
}
li a:hover {
  text-decoration: none;
}
