/* Upload File */
.upload-file {
  max-width: 150px;
  max-height: 50px;
  padding: 8px;
  color: #004de8;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  border: 1px solid #004de8;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}
.upload-file:hover {
  background-color: #004de8;
  color: #fff;
}

.button-outline-primary {
  background-color: #fff;
  border: 1px solid #004de8;
  border-radius: 16px;
  color: #004de8;
  height: 32px;
  font-size: 14px;
  font-weight: 500;
}
.button-primary {
  background-color: #004de8 !important;
  border: none;
  border-radius: 16px;
  color: white;
  height: 32px;
  font-size: 14px;
  font-weight: 500;
}
.button-danger {
  background-color: #e80000 !important;
  border: none;
  border-radius: 16px;
  color: white;
  height: 32px;
  font-size: 14px;
  font-weight: 500;
}
.button-disabled {
  background-color: #aeafb3;
  border: 1px solid #bdc1c9;
  border: none;
  border-radius: 16px;
  color: #fff;
  height: 32px;
  font-size: 14px;
  font-weight: 500;
}
