/* Dashboard Button */
.admin.btn.btn-add {
  background-color: #004de8 !important;
  border: none;
  border-radius: 4px;
  color: white;
  max-height: 32px;
  font-size: 12px;
  font-weight: 500;
}
.admin.btn-outline-delete {
  box-sizing: border-box;
  border: 1px solid #e80000 !important;
  color: #e80000 !important;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
}
.admin.btn-edit {
  background-color: #004de8 !important;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
}

/* Modal Button */
.modal-btn-close {
  box-sizing: border-box;
  border: 1px solid #004de8 !important;
  color: #004de8 !important;
  border-radius: 4px;
  font-size: 14px;
}
.modal-btn-submit {
  background-color: #004de8 !important;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 14px;
}

/* Upload File */
.upload-file {
  max-width: 150px;
  max-height: 50px;
  padding: 8px;
  color: #004de8;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  border: 1px solid #004de8;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}
.upload-file:hover {
  background-color: #004de8;
  color: #fff;
}

.secondary{
  max-height: 32px;
  color: #004de8;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  border: 1px solid #004de8;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
}
.primary {
  background-color: #004de8 !important;
  border: none;
  border-radius: 16px;
  color: white;
  max-height: 32px;
  font-size: 12px;
  font-weight: 500;
}
