@import "../admin_layout/layout.css";
*:focus {
  box-shadow: none !important;
}

.label-input{
  font-size: 16px;
  font-weight: 500;
}

.form.admin {
  display: grid;
  grid-area: form;
  justify-content: end;
  grid-template-columns: max-content max-content max-content;
  column-gap: 8px;
}

/* Search */
.form-control.admin-search {
  max-height: 32px;
  font-size: 12px;
  font-weight: 200;
  border: none;
  grid-column-start: 3;
}
.form-control.search{
  max-width: 400px;
  border-radius: 50px;
}
.form-input {
  padding: 16px;
  grid-area: content;
  background-color: #fff;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  display: grid;
  grid-template-rows: repeat(auto-fit, max-content);
}

.form-control-file[type="file"] {
  display: none;
}
.form-group {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  align-content: center;
}
.input-title {
  border: none;
  padding: 8px;
  justify-content: start;
}
.input-title:focus{
  border: none;
}

.input-category {
  border: none;
  border-bottom: 1.5px solid #DEDEDE;
  border-radius: 0%;
}

.input-image-description {
  border: none;
}
.input-image-description:focus{
  border: none;
}
textarea{
  resize: none;
  display: flex;
  align-items: center;
}