.news-wrapper.home{
  margin-top: 8px;
}
/* Image */
.admin-image {
  max-width: 400px;
  max-height: 150px;
}

.linimasa-logo{
  max-width: 320px;
}

.socmed-logo{
  max-width: 24px;
}

.image-side{
  max-width: 240px;
}

.side-news-image{
  max-width: 120px;
  border-radius: 8px;
}

.image-ads-tengah{
  max-width: 899px;
  max-height: 210px;
}

.home-news-image{
  max-width: 240px;
  border-radius: 16px;
  grid-area: home-news-image;
}

.horizontal-home-news-media{
  max-width: 100%;
  border-radius: 16px;
  display: flex;
  justify-self: center;
}