/* Table */
.admin-table {
  display: grid;
  grid-area: table;
  grid-auto-flow: row;
  background-color: white;
  overflow: auto;
}
.admin-table > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 0.5px solid#DEDEDE;
}
/* Table items */
.header-admin-table{
  font-weight: 500;
  position: sticky;
  top: 0;
}
.manage-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}
.admin-table .sentences-column {
  justify-content: start;
}
.number-column {
  position: sticky;
  left: 0;
  background-color: white;
}
