/* Title Ads */
.title-ads {
  grid-area: title;
  font-size: 24px;
  font-weight: 600;
}
/* Form Ads */
.form.ads {
  display: grid;
  grid-area: form;
  justify-self: end;
  grid-template-columns: 1fr 3fr;
  column-gap: 8px;
}

.form-control.ads{
  max-width: 200px;
  max-height: 35px;
  font-size: 12px;
  font-weight: 200;
  border: none;
}
/* Table Ads */
.table-ads {
  display: grid;
  grid-area: table;
  grid-template-columns: 0.5fr 2fr 2fr 3fr 2fr 2fr;
  grid-auto-flow: row;
  background-color: white;
}
.table-ads > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 0.5px solid#DEDEDE;
}
.manage-ads {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}
.table-ads .name-ads {
  justify-content: start;
}
