/* Title News Category */
.title-news-category {
  grid-area: title;
  font-size: 24px;
  font-weight: 600;
}
/* Form News Category */
.form.news-category {
  grid-area: form;
  display: grid;
  justify-self: end;
  grid-template-columns: 1fr 3fr;
  column-gap: 8px;
}
.form-control.news-category {
  max-width: 200px;
  max-height: 35px;
  font-size: 12px;
  font-weight: 200;
  border: none;
}
/* Table News Category */
.table-news-category {
  grid-area: table;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  background-color: white;
}
.table-news-category > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 0.5px solid #dedede;
}
.manage-news-category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}
.table-news-category .name-news-category {
  justify-content: start;
}
