* {
  box-sizing: border-box;
}
a {
  color: #5a5c69;
}
a:hover {
  text-decoration: none;
  color: #5a5c69;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #5a5c69;
  font-weight: 300;
  background-color: #f5f6f8;
}
