.layout {
  display: grid;
  grid-template-areas:
    "top"
    "navbar"
    "container";
  row-gap: 32px;
}
.container{
  max-width: 95%;
}
.container.layout {
  grid-area: container;
  display: grid;
  grid-template-areas: "content side"
  "horizontal-top horizontal-top"
  "content-middle side-middle"
  "horizontal-bottom horizontal-bottom"
  "content-bottom side-bottom";
  grid-template-columns: 3fr 1fr;
  row-gap: 32px;
  column-gap: 16px;
}
