.navbar {
  grid-area: navbar;
}
.container-main-navbar {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #0f4c75;
}
.navbar-collapse {
  justify-self: center;
}
.main-navbar-nav {
  background-color: transparent;
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  column-gap: 8px;
  align-self: center;
  margin: 0px;
}
.nav-link {
  font-weight: 600;
  color: white;
  font-size: 18px;
}
.nav-link:hover {
  color: #ffffff;
  font-weight: 700;
}
.navbar.dropdown-item {
  font-weight: 500;
  color: #0f4c75;
  font-size: 16px;
}
.navbar-profile {
  color: white;
  justify-self: center;
}
.navbar-profile:hover {
  text-decoration: none;
  color: #bbe1fa;
}
