.top-section{
  grid-area: top;
  display: grid;
  justify-content: center;
  grid-auto-flow: row;
  row-gap: 16px;
}
.top-nav {
  display: grid;
  grid-auto-flow: row;
  background-color: #ffffff;
  padding: 8px;
  row-gap: 8px;
}
.top {
  justify-content: end;
  display: grid;
  grid-auto-flow: column;
  column-gap: 8px;
  align-items: center;
}
.bottom {
  justify-content: space-between;
  display: grid;
  grid-auto-flow: column;
  column-gap: 8px;
  align-items: center;
}
